<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Details</title>
</head>
<body>
  <h2>All Students</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="student : ${students}">
        <td th:text="${student.id}">ID</td>
        <td th:text="${student.name}">Name</td>
        <td th:text="${student.email}">Email</td>
        <td th:text="${student.age}">Age</td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/form}">Go to registration Page</a>
</body>
</html>
